version: "3.9"

services:
  backend:
    build: ./backend
    container_name: portfolio-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - db_data:/app/data
    restart: always

  frontend:
    build: ./my-portfolio-frontend
    container_name: portfolio-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    restart: always

volumes:
  db_data:
